In [1]:
%load_ext sql

In [2]:
DWH_DB_USER="dwhuser"
DWH_DB_PASSWORD="Passw0rd"
DWH_ENDPOINT="dwhcluster.ca9cmiuxmqgs.us-west-2.redshift.amazonaws.com"
DWH_PORT=5439
DWH_DB="dwh"

conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ca9cmiuxmqgs.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## How many artists are there?

In [3]:
qry = """
    select count(distinct artist_id) from artists 
"""

%sql $qry

 * postgresql://dwhuser:***@dwhcluster.ca9cmiuxmqgs.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9553,)]

## How many songplay records of each user?

In [5]:
qry = """
    select user_id, count(distinct songplay_id) as play_cnt from songplays group by user_id
"""

%sql $qry

 * postgresql://dwhuser:***@dwhcluster.ca9cmiuxmqgs.us-west-2.redshift.amazonaws.com:5439/dwh
55 rows affected.

[('63', 1),
 ('33', 2),
 ('55', 1),
 ('66', 2),
 ('52', 2),
 ('98', 1),
 ('85', 7),
 ('82', 3),
 ('62', 1),
 ('72', 2),
 ('78', 2),
 ('49', 41),
 ('100', 2),
 ('70', 2),
 ('16', 6),
 ('8', 2),
 ('101', 2),
 ('40', 1),
 ('54', 1),
 ('61', 1),
 ('23', 1),
 ('36', 11),
 ('95', 7),
 ('24', 13),
 ('29', 13),
 ('50', 5),
 ('26', 1),
 ('91', 1),
 ('81', 1),
 ('28', 1),
 ('69', 1),
 ('44', 20),
 ('80', 31),
 ('83', 2),
 ('75', 1),
 ('90', 1),
 ('10', 1),
 ('73', 18),
 ('15', 15),
 ('88', 17),
 ('2', 2),
 ('92', 2),
 ('97', 28),
 ('67', 2),
 ('30', 8),
 ('12', 2),
 ('6', 1),
 ('94', 1),
 ('86', 2),
 ('25', 10),
 ('57', 1),
 ('42', 5),
 ('53', 2),
 ('58', 9),
 ('71', 1)]